<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.mapper.BoardMapper">

	<select id="getList" resultType="com.practice.domain.BoardVO">
		<![CDATA[
	
			select 
				bno,title,content,writer,regdate,updatedate
			from(
				select /*+ index_desc(tbl_board pk_board) */
					rownum rn,bno,title,content,writer,regdate,updatedate
				from
				]]>
				<choose>
					<when test="orderNum==null">
						tbl_board
					</when>
					<when test="orderNum!=null">
					(
						select /*+ index_desc(tbl_board pk_board) */
                			rownum rn,bno,title,content,writer,regdate,updatedate
            			from 
                			tbl_board
                			<if test="search!=''">
								 where
            						(bno like '%'||#{search}||'%' or 
            						 title like '%'||#{search}||'%' or 
            						 bno like '%'||#{search}||'%' or 
            						 content like '%'||#{search}||'%')
							</if>
	          				<choose>
								<when test="orderNum!=null">
									<choose>
										<when test="orderNum=='0'.toString()">
											order by bno
										</when>
										<when test="orderNum=='1'.toString()">
											order by title
										</when>
										<when test="orderNum=='2'.toString()">
											order by writer
										</when>
										<when test="orderNum=='3'.toString()">
											order by regdate
										</when>
										<when test="orderNum=='4'.toString()">
											order by updatedate
										</when>
									</choose>
									
									<choose>
										<when test="orderDir=='asc'">
											asc
										</when>
										<when test="orderDir='desc'">
											desc
										</when>
									</choose>
								</when>
							</choose>
						)
					</when>
				</choose>
				<![CDATA[
				where rownum<= #{start} + #{length}
			)
			where rn> #{start}
		]]>
	</select>
	
	<insert id="insertSelectKey">
		<!-- bno에다 결과값 넣음 -->
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			select seq_board.nextval 
			from dual
		</selectKey>
		
		insert into tbl_board (bno,title,content,writer)
		values (#{bno},#{title},#{content},#{writer})
	</insert>
	
	<select id="read" resultType="com.practice.domain.BoardVO">
		select * 
		from tbl_board 
		where bno=#{bno}
	</select>
	
	<delete id="delete">
		delete tbl_board 
		where bno=#{bno}
	</delete>
	
	<update id="update">
		update 
			tbl_board
		set 
			title=#{title},
			content=#{content},
			writer=#{writer},
			updateDate=sysdate
		where
			bno=#{bno}
	</update>
	
	<select id="getTotalCount" resultType="int">
		select 
			count(*)
		from 
			tbl_board
		where bno>0
	</select>

</mapper>